.navbar{
    background-color: palevioletred !important; 
}
img{
    height: 400px;
    
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}